        <div id="menu">
          <div class="container">
            <h1>Financeiro</h1>
          <hr>
  
        <nav class="navbar">
            <a class="flex-sm-fill text-sm-center nav-link link-dark" aria-current="page" href="index.php">SALARIO LIQUIDO</a>
            <a class="flex-sm-fill text-sm-center nav-link link-dark" href="imposto.php">IMPOSTO</a>
            <a class="flex-sm-fill text-sm-center nav-link link-dark" href="trabalho.php">RESCISAO</a>
            <a class="flex-sm-fill text-sm-center nav-link link-dark">ASD</a>
        </nav>
        
        </div>
      </div>
<style>
  #menu {
    padding-top: 10px;
  }
  h1 {
    font-family: coolvetica;
  }
  @font-face {
        font-family: cream;
        src: url(../assets/fonts/cream.otf);
  }
  @font-face {
    font-family: coolvetica;
        src: url(../assets/fonts/coolvetica.otf);
  }
  nav {
    background-color: lightblue;
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  a {
    font-size: 13px;
    font-family: cream;
    text-decoration-color: dark;
    text-decoration: dark;
  }
  a:hover {
    color: white;
    transition: 0.5s;
    opacity: 0.5;
  }
</style>
